/.gradle/
/build/
/target/
/.idea/
/Selenium-Junit-Template/.gradle/
/Selenium-Testng-Template/.gradle/
/Selenium-Cucumber-Junit-Template/.gradle/
/Selenium-Cucumber-Testng-Template/.gradle/
/Selenium-Cucumber-Testng-Template/out/
/Selenium-Cucumber-Testng-Template/target/
/Selenium-Junit-Template/target/
/Selenium-Cucumber-Junit-Template/target/
/Selenium-Serenity-Junit-Template/.gradle/
/Selenium-Serenity-Junit-Template/history/
/Selenium-Serenity-Junit-Template/target/
/Selenium-Serenity-Junit-Template/build/
/Selenium-Jbehave-Junit-Template/.gradle/
/Selenium-Jbehave-Junit-Template/history/
/Selenium-Jbehave-Junit-Template/target/
/Selenium-Jbehave-Junit-Template/build/
/Selenium-Jbehave-Junit-Template/out/
/list.txt
/Selenium-Jbehave-Testng-Template/.gradle/
/Selenium-Jbehave-Testng-Template/build/
/Selenium-Jbehave-Testng-Template/target/
/Selenium-Serenity-Cucumber-Template/.gradle/
/Selenium-Serenity-Cucumber-Template/build/
/Selenium-Serenity-Cucumber-Template/out/
/Selenium-Serenity-Cucumber-Template/history/
/Selenium-Serenity-Cucumber-Template/target/
/Selenium-Serenity-Jbehave-Template/.gradle/
/Selenium-Serenity-Jbehave-Template/build/
/Selenium-Serenity-Jbehave-Template/out/
/Selenium-Serenity-Jbehave-Template/history/
/Selenium-Serenity-Jbehave-Template/target/
/Selenium-Selenide-Junit-Template/.gradle/
/Selenium-Selenide-Junit-Template/build/
/Selenium-Selenide-Junit-Template/out/
/Selenium-Selenide-Junit-Template/target/
/Selenium-Selenide-Testng-Template/.gradle/
/Selenium-Selenide-Testng-Template/build/
/Selenium-Selenide-Testng-Template/target/
