/.gradle/
/build/
/target/
/.idea/
/Selenium-Junit-Template/.gradle/
/Selenium-Testng-Template/.gradle/
/Selenium-Cucumber-Junit-Template/.gradle/
/Selenium-Cucumber-Testng-Template/.gradle/
/Selenium-Cucumber-Testng-Template/out/
/Selenium-Cucumber-Testng-Template/target/
/Selenium-Junit-Template/target/
/Selenium-Cucumber-Junit-Template/target/
/Selenium-Serenity-Junit-Template/.gradle/
/Selenium-Serenity-Junit-Template/history/
/Selenium-Serenity-Junit-Template/target/
/Selenium-Serenity-Junit-Template/build/
/Selenium-Jbehave-Junit-Template/.gradle/
/Selenium-Jbehave-Junit-Template/history/
/Selenium-Jbehave-Junit-Template/target/
/Selenium-Jbehave-Junit-Template/build/
/Selenium-Jbehave-Junit-Template/out/
/list.txt
/Selenium-Jbehave-Testng-Template/.gradle/
/Selenium-Jbehave-Testng-Template/build/
/Selenium-Jbehave-Testng-Template/target/
